<div class="panel">
  <div class="panel-body">
    <form class="addphotoform" action="/<%= album.id %>/new_background" method='POST' style='center'>
      <h4 class="list-group-item-heading">Add background picture: </h4>
      <div class="form-group">
        <div>
          <input class="form-control" type='text' name='pic' placeholder='Album Background' />
        </div>
          <button type= 'submit' class="btn btn-danger">Change Background </button>
      <!-- change the album list's background

      <form action= '/delete/<%= album.id %>' style='display:inline'>
        <button type= 'submit' class="btn btn-danger">Save </button>
      </form>

    -->
    </form>
  </div>
</div>
</div>

<a href="/" class="btn btn-danger"> Go back to album lists!</a>
