
<h1>WELCOME!</h1>

<div id="background">
  <img src="ab.jpg" class="stretch" />
</div>


<div class="welcomebox">

  <h3>Sign in:</h3>
  <form action='/new_user' method='POST'>

    <div>
      <input class = "form-control" type='text' name='name' placeholder='Create New ID' />
    </div>
    <div>
      <input class="form-control" type="password" name="password" placeholder='Create New Password' />
    </div>

    <div>
      <input type='submit'  class="button" value='Save'/>
    </div>
  </form>

  <h3>Login:</h3>
  <form action='/login' method='POST'>

    <div>
      <input class = "form-control" type='text' name='name' placeholder='Create New ID' />
    </div>
    <div>
      <input class="form-control" type="password" name="password" placeholder='Create New Password' />
    </div>

    <div>
      <input type='submit'  class="button" value='Save'/>
    </div>


  </form>



</div>
